body {
  margin: 0px;
  padding: 0px;
  p {
    color: #ee20ee;
    font-size: 20px;
    border: solid 2px #8ee234;
    border-radius: 10px;
  }
}
img {
  border: 10px solid #256848;
  border-radius: 10px
}
